#toggleButtonBar {
    height: 100%;
    border-color: black;
    border-style: solid;
    border-width: 0px 2px 0px 0px;
    padding-right: 5px;
    vertical-align: middle;
    margin-top: 150px;
}
.dcgiHideShowButtons {
  border-width: 0px;
}
.dcgiHideShowButtons td {
  border-width: 0px;
}
.dcgiHideShowButton {
  margin: 1px;
  padding: 2px 5px 2px 5px;
  background-color: #ccf;
  border-width: 2px;
  border-color: #888;
  border-style: solid;
  border-radius: 15px;
  font-size: .8em;
  cursor: pointer;
  white-space: nowrap;
  display: inline-block;
}
.dcgiButtonBarTitle {
  font-size: 1.5em;
  font-weight: bold;
}
.dcgiButtonBarOuterContainer {
    background-color: #888;
    padding-left: 5px;
    padding-bottom: 5px;
    position: fixed;
    top: 10px;
    right: 10px;
    z: 1;
    border-radius: 10px;
}
.dcgiButtonBarContainer {
    border-width: 2px 2px 2px 2px;
    border-style: solid;
    border-color: #000;
    padding: 15px;
    font-size: 1.2em;
    border-radius: 10px;
    background-color: #dfd;
    margin-top: -5px;
    margin-right: -5px;
}
.dcgiButtonBarSection {
    border-width: 0px 0px 0px 0px;
    border-style: solid;
    border-color: #000;
    background-color: #dfd;
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 5px;
}
.dcgiDownloadName {
  margin: 20px;
  background-color: #ddd;
  border-style: solid;
  border-color: #bbb;
  border-width: 1px;
  border-radius: 20px;
  padding: 0px 5px 0px 5px;
}
.dcgiLevel2 {
  background-color: #eee;
}
.dcgiLevel3 {
  background-color: #ddd;
}
.dcgiLevel4 {
  background-color: #eee;
}
.dcgiLevel5 {
    background-color: #e0e0e0;
}
.dcgiLevel1, .dcgiLevel2, .dcgiLevel3, .dcgiLevel4, .dcgiLevel5, .dcgiLevel6, .dcgiLevel7, .dcgiLevel8, dcgiLevel9 {
    padding: 3px 0px 3px 0px;
}

h1 { 
  border-radius: 15px;
  color:   #fff;
  border-width: 0px 0px 4 0px;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: .5em;
  border-style: solid;
  border-color: #88e;
  background-color: #99f;
}

h2, h3, h4, h5, h6, h6, h7 {
    border-radius: 10px;
    padding-left: .5em;
    padding-top: 3px;
}

h4, h5, h6, h6, h7 {
    text-decoration: underline;
}

h2, h3 {
    border-style: solid;
    border-width: 0px 0px 2px 0px;
    padding-left: .5em;
}

.dcgiMoreButton {
  float: right;
  clear: right;
  margin-top: -1em;
  margin-right: 2em;
  text-decoration: underline;
  cursor: pointer;
  color: #a22;
}

.dcgiMoreButtonAfterSuffixes {
    margin-top: -2.5em;
}

.dcgiHideButton {
  float: right;
  clear: right;
  margin-top: -1em;
  margin-right: 2em;
  text-decoration: underline;
  cursor: pointer;
  color: #a22;
}

.dcgiFileDate {
    float: right;
    clear: right;
    color: #888;
    font-style: italic;
}

.dcgiLinks {
    width: 100%;
}

.dcgiFirstLink {
    margin-bottom: 4px;
}

.dcgiOtherLinks {
    font-style: italic;
    font-size: .9em;
}

.dcgiOtherLink {
    border-color: aaf;
    border-width: 0px;
    border-style: solid;
    border-radius: 3px;
    display: inline-block;
    margin: 1px;
    margin-right: 3px;
    padding: 2px;
}

A:link.hideshow    { text-decoration: none; 	   color: #000; }
A:visited.hideshow { text-decoration: none; 	   color: #000; }
A:active.active    { text-decoration: none; 	   color: #eef; }
A:hover.hideshow   { text-decoration: underline; color: #eef; }
